/* 
<div className='student-table'>
<div className='student-table-item student-table-header'>
	<div>اسم الطالب</div>
	<div>الفصل</div>
</div>
{'asdjioajsd'.split('').map(() => {
	let a = ['أول ', 'ثاني ', 'ثالث '];
	let b = ['أحمد خالد يوسف الدوسري', 'علي جعفر يوسف عللي', 'أبراهيم قلتلي محمد القحطاني'];
	return (
		<div className='student-table-item'>
			<div>{b[Math.floor(Math.random() * 2) + 1]}</div>
			<div>ثانوي{a[Math.floor(Math.random() * 2) + 1]}</div>
		</div>
	);
})}
</div> */

#committee-list-page {
	overflow-y: scroll;

	* {
		font-family: arabic;
	}

	#committee-list {
		height: max-content;
	}

	.student-table-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 100%;
		color: #233262;
		margin-bottom: 25px;
	}

	/* .student-table-container:not(:first-child) {
} */

	.student-tables {
		width: 100%;
		height: max-content;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 10px;
	}

	.student-table > .student-table-header {
		color: #d68c45;
	}

	.committee-row {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		/* justify-content: space-between; */
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 20px;
	}

	.committee-row > .student-table-container:not(:first-child) {
		/* ((1903 - 60 - 60) - (500 * 3)) / 2 */
		margin-right: 141.5px; /* 150px */
	}

	/* .committee-row > .student-table-container:only-child {
	align-self: flex-end;
	margin-left: auto; 
}*/

	.student-table > .student-table-item {
		width: max-content;
		height: max-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 15px;
		margin: 10px 0px 0px 10px;
		padding: 10px;
		color: #233262;
	}

	.student-table > .student-table-item-en {
		margin: 10px 10px 0px 0px;
	}

	/* <div className='student-table-item-name' style={{ fontSize: '38px' }}>
{name.split(' ')[0]}
</div>
<div
className='student-table-item-family'
style={{
	fontSize: '20px',
}}
>
{name.split(' ').slice(1).join(' ')}
</div>
<Divider
className='student-table-item-divider'
style={{
	backgroundColor: 'gray',
	margin: '10px 0px 10px 0px',
}}
></Divider>
<div
className='student-table-item-class'
style={{
	fontSize: '14px',
}}
>
{classyear}
</div> */

	.student-table-item-name {
		font-size: 38px;
	}

	.student-table-item-family {
		font-size: 20px;
	}

	.student-table-item-class {
		font-size: 14px;
	}

	.student-table-item-divider {
		width: calc(100% + 20px);
		margin: 10px 0px 10px 0px !important;
	}

	.student-table-container > .committee-name {
		font-size: 36px;
		line-height: 1;
	}
	.student-table-container > .committee-class {
		font-size: 20px;
		margin-bottom: 13px;
	}

	.student-table {
		width: 100%;
		height: max-content;
		border-radius: 20px;
		box-sizing: border-box;

		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: -10px 0 0 0;
	}

	@media only screen and (max-width: 1300px) {
		.student-table-container {
			margin-bottom: 1.92vw;
		}

		.student-table > .student-table-item {
			padding: 0.76vw;
			border-radius: 1.53vw;
			margin: 0.76vw 0px 0px 0.76vw;
		}

		.student-table > .student-table-item-en {
			margin: 0.76vw 0.76vw 0px 0px;
		}

		.student-table-item-name {
			font-size: 2.92vw;
		}

		.student-table-item-family {
			font-size: 1.53vw;
		}

		.student-table-item-class {
			font-size: 1.07vw;
		}

		.student-table-item-divider {
			width: calc(100% + 0.76vw * 2);
			margin: 0.76vw 0px 0.76vw 0px !important;
		}
	}

	@media only screen and (max-width: 800px) {
		.student-table-item-name {
			font-size: 23.36px;
		}

		.student-table-item-family {
			font-size: 12.24px;
		}

		.student-table-item-class {
			font-size: 8.56px;
		}
	}
}
