#schedule-page {
	overflow-y: scroll;

	* {
		font-family: arabic;
	}

	.semester {
		/* background-color: red; */
		margin-bottom: 40px;
	}

	.month-header-item {
		width: 302px;
		margin-bottom: 15px;
		font-size: 20px;
	}

	.month-header {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.month:not(:last-child) {
		margin-bottom: 10px;
	}

	.month-column-item-trespass {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row-reverse;
		height: 100%;
		width: 100%;

		border: 1px solid #8b0202;
		border-radius: 20px;

		font-size: 23px;
		color: #8b0202;
	}

	.month-column-item-trespass > *:not(:last-child) {
		margin-left: 10px;
	}

	.month-column-item-none {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		border: 1px solid #8b0202;
		color: #8b0202;

		border-radius: 20px;
	}

	.month-column-item > .month-column-item-info {
		font-size: 16px;
	}

	.month-column-item > .month-column-item-day {
		font-size: 26px;
	}

	.month-column-item {
		display: flex;
		border: 1px solid #707070;
		border-radius: 20px;
		/* background-color: white; */

		/* flex-direction: column; */
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		color: #233262;
		font-size: 16px;
		padding-right: 15px;
		padding-left: 12px;
		/* padding-top: 5px; */
		box-sizing: border-box;
	}

	.month-column-item-holder {
		width: 302px;
		height: 40px;
		/* box-sizing: border-box; */
	}

	.month-column-item-holder:not(:last-child) {
		margin-bottom: 20px;
	}

	.semester-header-button {
		width: 64px;
		height: 64px;
		margin: 0px 15px 0px 0px !important;
	}

	.semester-header-en > .semester-header-button {
		margin: 0px 0px 0px 15px !important;
	}

	.semester-header-button-icon {
		width: 64px !important;
		height: 64px !important;
	}

	.semester-header-number {
		margin: 4px 0px 0px 15px;
		width: 64px;
		height: 64px;
		font-size: 70px;
		padding-top: 10px;
		border-radius: 1000px;
	}

	.semester-header-en > div:last-child > .semester-header-number {
		margin: 4px 15px 0px 0px;
		font-size: 50px;
		padding-top: 0px;
	}

	.semester-header-title {
		font-size: 50px;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		height: max-content;
	}

	.month > .month-title {
		font-size: 42px;
		margin-bottom: 15px;
	}

	.month-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}

	@media only screen and (max-width: 1660px) {
		.month-column-item-holder {
			width: 18.19vw;
		}

		.month-header-item {
			width: 18.19vw;
		}
	}

	@media only screen and (max-width: 1430px) and (min-width: 1130px) {
		.month-column-item > .month-column-item-info {
			font-size: 1.118vw;
		}

		.month-column-item-trespass {
			font-size: 1.6vw;
		}

		.month-column-item > .month-column-item-day {
			font-size: 1.81vw;
		}

		.month-column-item {
			padding-right: 1.04vw;
			padding-left: 0.83vw;
		}

		.month-column-item-holder {
			height: 2.79vw;
		}
	}

	@media only screen and (max-width: 1130px) {
		.month-column-item-trespass {
			font-size: 18.08px;
		}

		.month-column-item > .month-column-item-info {
			font-size: 12.6px;
			padding-left: 5px;
		}

		.month-column-item > .month-column-item-day {
			font-size: 20.453px;
		}

		.month-column-item {
			padding-right: 11.752px;
			padding-left: 9.379px;
		}

		.month-column-item-holder {
			height: 45.527px;
		}
	}

	@media only screen and (max-width: 700px) {
		.month:not(:last-child) {
			margin-bottom: 1.42vw;
		}
		.month-content {
			flex-wrap: nowrap !important;
			flex-direction: column !important;
		}

		.month-column-item-holder {
			width: 100%;
			height: 31.527px;
		}

		.month-header {
			display: none;
		}

		.month > .month-title {
			font-size: 6vw;
		}

		.semester-header-title {
			font-size: 7.14vw;
		}

		.semester-header-button {
			margin: 0px 2.14vw 0px 0px !important;
			width: 9.14vw;
			height: 9.14vw;
		}

		.semester-header-en > .semester-header-button {
			margin: 0px 0px 0px 2.14vw !important;
		}

		.semester-header-button-icon {
			width: 9.14vw !important;
			height: 9.14vw !important;
		}

		.semester {
			margin-bottom: 5.71vw;
		}

		/* .semester-header-number {
		margin: 4px 0px 0px 15px;
		height: 64px;
		width: 64px;
	
		padding-top: 10px;
		font-size: 70px;
		border-radius: 1000px;
	} */

		.semester-header-number {
			margin: 0.57vw 0px 0px 2.14vw;
			width: 9.14vw;
			height: 9.14vw;
			font-size: 10vw;
			padding-top: 1.42vw;
		}

		.semester-header-en > div:last-child > .semester-header-number {
			margin: 0.57vw 2.14vw 0px 0px;
			font-size: 7.14vw;
			padding-top: 0px;
		}
	}

	.MuiMenuItem-root {
		display: flex !important;
		justify-content: flex-end !important;
	}
}
