input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#barcode-page #info-area {
	width: 100%;
	max-width: 421px;
}

#barcode-page #error {
	width: 100%;
	max-width: 421px;
	max-height: 100px;
	margin-top: 5px;
	overflow: hidden;
	word-break: break-word;
	text-overflow: ellipsis;
}

#barcode-page #title {
	width: 100%;
	color: #233262;
	font-size: 50px;
	font-family: segoeui;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 50px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) and (min-width: 340px) {
	#barcode-page #title {
		font-size: 8.33vw;
		margin-bottom: 5vw !important;
		line-height: 1;
	}
}

@media only screen and (max-width: 340px) {
	#barcode-page #title {
		font-size: 28.322px;
		margin-bottom: 17px !important;
		line-height: 1;
	}
}

@media only screen and (min-width: 500px) {
	#barcode-page .interactables {
		flex-direction: row;
	}

	#barcode-page .interactables-en {
		flex-direction: row-reverse;
	}

	#barcode-page .main-button {
		margin: 0px 15px 0px 0px;
		width: 150px;
	}

	#barcode-page .main-button-en {
		margin: 0px 0px 0px 15px;
	}
}

@media only screen and (max-width: 500px) {
	#barcode-page .interactables {
		flex-direction: column-reverse;
		width: 100%;
	}

	#barcode-page .interactables-en {
		flex-direction: column-reverse;
		width: 100%;
	}

	#barcode-page #info-area {
		width: 100%;
		max-width: 500px;
	}

	#barcode-page #error {
		width: 100%;
		max-width: 500px;
	}

	/* #barcode-page #top {
		padding-left: 25px;
		padding-right: 25px;
		box-sizing: border-box;
	} */

	#barcode-page .main-button {
		margin: 15px 0px 0px 0px;
		width: 100%;
	}
}

@media only screen and (max-width: 250px) {
	#barcode-page #interactable-buttons {
		flex-direction: column;
	}

	#barcode-page #interactable-buttons > button:last-child {
		margin: 5px 0px 0px 0px;
	}
}

/* 
@media only screen and (min-width: 768px) {
	body {
		background-color: red;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		background-color: green;
	}
} */

#barcode-page #main-field {
	width: 100%;
}

#barcode-page .main-button {
	height: 50px;
	font-size: 25px;
}

#barcode-page .option-box {
	background-color: white;
	border: 1px solid #b2b9bc;
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100% !important;
	box-sizing: border-box;
	height: 35px;
	border-radius: 4px;
}

#barcode-page #main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#barcode-page #top {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding-left: 3.125vw;
	padding-right: 3.125vw;
}

#barcode-page .interactables {
	display: flex;
	justify-content: center;
	align-items: center;
}

#barcode-page #interactable-buttons > div {
	padding: 0px;
	font-size: 18px;
	font-family: Arial !important;
	height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	width: 140px;
	margin-bottom: 10px;
}

#barcode-page #interactable-buttons > .save-button {
	width: 100%;
	font-size: 18px;
	height: 35px;
}

#barcode-page .MuiLoadingButton-root .MuiCircularProgress-root {
	width: 32px !important;
	height: 32px !important;
	color: white !important;
}

#barcode-page .MuiMenuItem-root {
	display: flex !important;
	justify-content: center !important;
}

#barcode-page .MuiLoadingButton-loading {
	background-color: rgb(94, 94, 94) !important;
}

/* #header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 5px;
	box-sizing: border-box;
	background: rgb(167, 198, 230);
	background: linear-gradient(135deg, rgba(167, 198, 230, 1) -25%, rgba(255, 255, 255, 1) 100%);
	width: 100%;
	height: 100%;
} */

#barcode-page #header > div {
	display: flex;
	flex-direction: column;
	width: max-content;
	height: max-content;
}
